body{
  max-width: 500pt;
  margin: auto;
  padding: 10px;
}


#logo {
    font-size: 36pt;
    text-align: center;
    margin-bottom: 30pt
}

img {
    width: 250pt;
    height: auto;
    
    
}


.flex-container {
  display: flex;
 
}


#basket {
    font-size: 20pt;
}

.btn {
   font-size: 15pt;
    margin: 10pt;
    margin-left: 0pt;
}



#added-blue{
    color: green;
    display: none;
}
#removed-blue{
    color: red;
    display: none;
}

#added-black{
     color: green;
     display: none;
}

#removed-black{
    color: red;
    display: none;
}

#added-pink{
     color: green;
    display: none;
}

#removed-pink{
    color: red;
    display: none;
}

